<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emake.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
				<key>dateExpires</key>
				<string>2019/4/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AipBase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AipOcrSdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>armv7s</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IdcardQuality.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MQTTClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SKFPicPreview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8433A3447014B5FD174E11B7C1467F5A0BAA38B9</string>
						<key>dateExpires</key>
						<string>2019/4/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6D82CMXLTN</string>
						<key>name</key>
						<string>Yi hu wang technology nanjing co. LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6D82CMXLTN.com.cn.emake.emake</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6D82CMXLTN</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>emake.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>72acd8a0-914f-4c2b-a5e1-a7e8f15a419a</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.cn.emake.emake</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6D82CMXLTN</string>
				<key>name</key>
				<string>Yi hu wang technology nanjing co. LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
